<!DOCTYPE html>
<html lang="sk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <script src="/js/jquery-3.7.1.min.js"></script>
    <style>
        header {
            height: 50px;
        }
        footer {
            height: 30px;
            background-color: #ddd;
            text-align: center;
            font-size: 13px;
        }
        main {
            height: calc(100vh - 80px);
        }
    </style>
</head>
<body>

<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Vyvolávaci systém</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <form action="/logout" method="post">
                <button type="submit" class="btn btn-sm btn-light me-2">Odhlásiť</button>
            </form>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/adminMessage">
                        <span data-feather="home"></span>
                        Text spodnej lišty
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminCallTicket">
                        <span data-feather="file"></span>
                        Vyvolať/zrušiť lístok
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="">
                        <span data-feather="file"></span>
                        Oznam
                    </a>
                </li>
            </ul>
            </div>
        </nav>

        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-1 pb-2 mb-3 border-bottom">
                <h1 style="color: #555;">Nastavenie</h1>
                <div class="btn-toolbar mb-2 mb-md-0"></div>
            </div>
            <h2><%= section %></h2>
            <div id="AlerMessage" class="mb-3"></div>

            <div class="card" style="max-width: 500px; margin: 0 auto;">
                <div class="card-header">
                    <b>Vyvolanie lístka</b>
                </div>

                <div class="card-body">
                    <div class="form-group">
                        <form id='form'>

                            <label for="cTel">TV</label>
                            <select id="cTel" class="form-select">
                            <% select.forEach(item => { %>
                                <option value="<%= item.value %>"><%= item.name %></option>
                            <% }); %>
                            </select>

                            <label for="cListok" class="mt-4">Lístok</label>
                            <input type="text" id="cListok" class="form-control">

                            <label for="cSkupina">Skupina</label>
                            <select id="cSkupina" class="form-select">
                                <option></option>
                                <option value="1">Červená skup.</option>
                                <option value="2">Oranžová skup.</option>
                                <option value="3">Žltá skup.</option>
                                <option value="4">Zelená skup.</option>
                                <option value="5">Modrá skup.</option>
                            </select>

                            <label for="cDvere">Dvere</label>
                            <select type="text" id="cDvere" class="form-select">
                                <option></option>
                                <option value="1">Dvere č.1</option>
                                <option value="2">Dvere č.2</option>
                            </select>

                            <input type="submit" class="btn btn-md btn-success mt-4" name="save" value="Nastaviť">
                            <button type="button" class="btn btn-md btn-danger mt-4 ms-5" onclick='stopCalling();'>Zrušiť aktuálne vyvolávanie</button>
                            <input id="token" type="text" hidden value="<%= token %>">
                        </form>
                    </div>
                </div>
            </div>
        </main>

        <footer class="pt-1">
            version 1.0 created 2025 ©Ing. Pavol Jurák
        </footer>

    </div>
</div>

<script>
function stopCalling() {
    let kk = $('#cTel').val();
    $.ajax({
        type: 'post',
        dataType: "json",
        url: `/stop/${kk}`,
        data: {token: $('#token').val()},
        success: function (response) {
            if (response.status == "success") {
                alert(response.message);
            } else {
                alert('NASTALA CHYBA.');
            }
      }
    });
}

$(document).ready(function () {

        $('#form').on('submit', function (e) {
           e.preventDefault();
           let data = {
               listok: $('#cListok').val(),
               skupina: $('#cSkupina option:selected').text(),
               dvere: $('#cDvere option:selected').text(),
               token: $('#token').val()
           }
           let kk = $('#cTel').val();

            $.ajax({
                type: 'post',
                dataType: "json",
                url: `/call/${kk}`,
                data: data,
                success: function (request, status) {
                    if (request.status == "success") {
                        $('#AlerMessage').html('<div class="alert alert-success">'+request.message+'</div>');
                    }
                    if (request.status == "warning" || request.status == "error") {
                        $('#AlerMessage').html('<div class="alert alert-danger">'+request.message+'</div>');
                    }
               },
               error: function (request, status) {
                    $('#AlerMessage').html('<div class="alert alert-danger">Nastala neočakavaná chyba.</div>');
               }
            });
        });
});
</script>
</body>
</html>